<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit A Monster</title>
  </head>
  <body>
    <div class="container">
      <h3><a href="/monsters">Monster List</a></h3>
      <h5>This is Edit One Monster.ejs</h5> 
      <h2>Edit A Monster: <%=monster.name%></h2>
    </div>
  </body>
</html>
